In [1]:
# url = 'https://mars.nasa.gov/news/'
# response = requests.get(url)

In [2]:
# html = response.text
# soup = bs(html,'html.parser')

### Nasa Mars News

In [3]:
from bs4 import BeautifulSoup as bs
import requests

In [4]:
with open('mars_exploration.html') as file:
    html = file.read()

In [5]:
soup = bs(html,'html.parser')

In [6]:
result = soup.find('li',class_='slide')

In [7]:
print(result.prettify())

<li class="slide">
 <div class="image_and_description_container">
  <a href="https://mars.nasa.gov/news/8371/curiosity-on-the-move-again/" target="_self">
   <div class="rollover_description">
    <div class="rollover_description_inner">
     NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.
    </div>
    <div class="overlay_arrow">
     <img alt="More" src="./mars_exploration_files/overlay-arrow.png"/>
    </div>
   </div>
   <div class="list_image">
    <img alt="A self-portrait of NASA's Curiosity rover taken on Sol 2082 (June 15, 2018). A Martian dust storm has reduced sunlight and visibility at the rover's location in Gale Crater." src="./mars_exploration_files/8371_PIA22486_320x240.jpg"/>
   </div>
   <div class="bottom_gradient">
    <div>
     <h3>
      Curiosity on the Move Again
     </h3>
    </div>
   </div>
  </a>
  <div class="list_text">
   <div class="list_date">
    November  6, 2018
   </div>
   <div class="content_title">
    <a href="https://mars.nasa.gov/news/8371/curiosity-on-the-move-again/" target="_self">
     Curiosity on the Move Again
    </a>
   </div>
   <div class="article_teaser_body">
    NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.
   </div>
  </div>
 </div>
</li>

In [8]:
news_title = result.find('div',class_='content_title').text
news_p = result.find('div',class_='article_teaser_body').text

In [9]:
news_title

'Curiosity on the Move Again'

In [10]:
news_p

"NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

### JPL Mars Space Images

In [11]:
from splinter import Browser
import time

In [12]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [14]:
time.sleep(2)
browser.click_link_by_partial_text('FULL IMAGE')

In [15]:
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [16]:
html = browser.html
soup = bs(html,'html.parser')

In [17]:
results = soup.find_all('div',class_='download_tiff')
for result in results:
    if (result.a):
        if ('jpg' in result.a['href']):
            featured_image_url = result.a['href']

In [18]:
featured_image_url

'//photojournal.jpl.nasa.gov/jpeg/PIA14872.jpg'

In [19]:
browser.quit()

### Mars Weather

In [20]:
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)

In [21]:
html = response.text
soup = bs(html,'html.parser')

In [22]:
mars_weather = soup.find('p',class_='tweet-text').text

### Mars Facts

In [23]:
import pandas as pd

In [24]:
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)

In [25]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [26]:
html_table = df.to_html()

In [27]:
html_table_str = html_table.replace('\n','')

In [28]:
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [29]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [31]:
html = browser.html
soup = bs(html,'html.parser')

In [32]:
results = soup.find_all('div',class_='description')

In [33]:
base = 'https://astrogeology.usgs.gov'

hemisphere_image_urls = []
for result in results:
    holder = {}
    if (result.a):
        if (result.a.text):
            holder['title'] = result.a.text[:-9]

        browser.visit(base + result.a['href'])

        html = browser.html
        soup = bs(html,'html.parser')
        downloads = soup.find('div',class_='downloads')
        holder['img_url'] = downloads.find('li').a['href']

    hemisphere_image_urls.append(holder)

In [34]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [35]:
browser.quit()