# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School Data File and store into Pandas Data Frames
# Removing ID columns, seems unnecessary for now
school_data = pd.read_csv(school_data_to_load).drop(columns=['School ID'])
school_data.head()

             school_name      type  size   budget
0      Huang High School  District  2917  1910635
1   Figueroa High School  District  2949  1884411
2    Shelton High School   Charter  1761  1056600
3  Hernandez High School  District  4635  3022020
4    Griffin High School   Charter  1468   917500

In [4]:
# Read Student Data File and store into Pandas Data Frames
# Removing ID columns, seems unnecessary for now
student_data = pd.read_csv(student_data_to_load).drop(columns=['Student ID'])
student_data.head()

,student_name,gender,grade,school_name,reading_score,math_score
0,Paul Bradley,M,9th,Huang High School,66,79
1,Victor Smith,M,12th,Huang High School,94,61
2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
# calculate values for district summary
tot_sch = len(school_data.index)
tot_stu = len(student_data.index)

tot_bud = school_data['budget'].sum()

avg_math = student_data['math_score'].mean()
avg_read = student_data['reading_score'].mean()

# using mean of count, since all numbers collected are the same anyway
pass_math = student_data[student_data['math_score'] >= 70].count().mean()/tot_stu*100
pass_read = student_data[student_data['reading_score'] >= 70].count().mean()/tot_stu*100
avg_score = (pass_math + pass_read)/2

In [11]:
# store in dataframe and format results
district_summary_df = pd.DataFrame({'total schools':[tot_sch],
                                    'total students':[tot_stu],
                                    'total budget':[tot_bud],
                                    'average math score':[avg_math],
                                    'average reading score':[avg_read],
                                    '% passing math':[pass_math],
                                    '% passing reading':[pass_read],
                                    '% overall passing':[avg_score]})

# format results using map command
district_summary_df['total schools'] = district_summary_df['total schools'].map("{:,}".format)
district_summary_df['total students'] = district_summary_df['total students'].map("{:,}".format)
district_summary_df['total budget'] = district_summary_df['total budget'].map("${:,.2f}".format)

district_summary_df.head()

,total schools,total students,total budget,average math score,average reading score,% passing math,% passing reading,% overall passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
# create sorted dataframe for understanding
schools = school_data.set_index('school_name').sort_index()

# calculate values for school summary
sch_type = schools['type']
sch_size = schools['size']

sch_bud = schools['budget']
stu_bud = sch_bud/sch_size

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.